extends ../layout.pug

block content 
    h4 Update Your Profile
    if errorMessage
        span=errorMessage
    img(src="/"+loggedInUser.avatarUrl,width="100",height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar",name="avatar",accept=".png, .jpg, .jepg")
        input(name="email",placholder="Your email",value=loggedInUser.email,required,type="email")
        input(name="username",placholder="Your Username",value=loggedInUser.username,required)
        input(name="name",placholder="Your Name",value=loggedInUser.name,required)
        input(name="location",placholder="Your location",value=loggedInUser.location)
        input(value="Update Profile",type="submit")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;